{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    {% include 'store/inc/slider.html' %}
    <div class="container-fluid">
        <div class="row">
        {% for product in products %}
            <div style="margin-top: 20px;" class="col-lg-3">
                <img class="thumbnail" src="{{ product.imageURL }}" alt="product image">
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <h6><strong>৳{{ product.price | floatformat:2 }}</strong></h6>
                    <button  data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" >Add to Cart</button>
                    <a style="display: inline-block; float: right" class="btn btn-outline-success" href="#">View</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}